<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome to ForEach IT Community</h1>
<form action="/login" method="GET">
    <button type="submit">Find a project</button>
</form>
<form action="/api/users" method="GET">
    <button type="submit">Find a team</button>
</form>

<form action="/login" method="GET">
    <button type="submit">Sign IN</button>
</form>
<form action="/registration" method="GET">
    <button type="submit">Sign UP</button>
</form>

</body>
</html>
