<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <table th:each="project : ${projects}">
            <tr>
                <td style="font-weight: bolder" th:text="${project.getId()} + '. ' + ${project.getName()}"></td>
            </tr>
            <tr>
                <td th:text="${project.getDescription()}"></td>
            </tr>
        </table><br><br>
    </div>
    <a href="/api/projects/add">Add new project</a>
</body>
</html>