<!--BUTTON FOR TESTING GOOGLE TOKEN-->

<!--<html>-->
<!--&lt;!&ndash;favicon turnOFF&ndash;&gt;-->
<!--<link rel="icon" href="data:,">-->
<!--<body>-->
<!--<script src="https://accounts.google.com/gsi/client" async defer></script>-->
<!--<div id="g_id_onload"-->
<!--     data-client_id="530287046215-k0i1o0ci7rk9nolcqsq5sjmvo4ecfj6b.apps.googleusercontent.com"-->
<!--     data-login_uri="https://foreach-back-end.herokuapp.com/login/google"-->
<!--     data-auto_prompt="true">-->
<!--</div>-->
<!--<div class="g_id_signin"-->
<!--     data-type="standard"-->
<!--     data-size="large"-->
<!--     data-theme="outline"-->
<!--     data-text="sign_in_with"-->
<!--     data-shape="rectangular"-->
<!--     data-logo_alignment="center">-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
